@font-face {
  font-family: 'Keyrune';
  src: url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.eot');
  src: url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.eot?#iefix') format('embedded-opentype'),
        url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.woff2') format('woff2'),
        url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.woff') format('woff'),
        url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.ttf') format('truetype'),
        url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'Keyrune'
}
body div {
  margin: 0 auto;
}
div:has(> img[alt="expansion-icon"]){
  flex-direction: row;
  flex-wrap: wrap;
  text-align:right;
  max-width:20%;
}
.description{
  font-family: 'Mana-font';
  font-size:14px;
}
.flavour-text{
  font-family: 'Mana-font';
  font-size:14px;
}
