@font-face {
  font-family: 'Keyrune';
  src: url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.eot');
  src: url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.eot?#iefix') format('embedded-opentype'),
        url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.woff2') format('woff2'),
        url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.woff') format('woff'),
        url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.ttf') format('truetype'),
        url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mana';
  src: url('/fonts/mana.eot');
  src: url('/fonts/mana.eot#iefix') format('embedded-opentype'),
    url('/fonts/mana.woff') format('woff'),
    url('/fonts/mana.woff2') format('woff2')
    url('/fonts/mana.ttf') format('truetype'),
    url('/fonts/mana.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'Keyrune';
}
body div {
  margin: 0 auto;
}
._3EQUg,
._QcJzh,
._2nK93{
 background:linear-gradient(0deg,#c9d8c94d,#c9d8d14d),url('/tile-bg-2.jpg');
 margin-top:10px;
 margin-left:5px;
 margin-right:5px;
 display:flex;
 border-radius:18px/40px
}
div:has(> img[alt="expansion-icon"]){
  flex-direction: row;
  flex-wrap: wrap;
  text-align:right;
  max-width:20%;
}
.description{
  font-size:14px;
}
.flavour-text{
  font-family: 'Keyrune';
  font-size:14px;
}
